{% extends "promptpedia/layout.html" %} 

{% block title %}
<h1> Create New Page </h1>
{% endblock %}


{% block body %}
    <h1> Create New Page </h1>
    <div class="new-entry">
        <label for="newEntry"></label>
        <h3>Enter Title</h3>
        <textarea class="new-title form-control" name="newEntry" id="newEntry" rows="1" autofocus="true" placeholder="Enter 'Title'"></textarea>
        <h3>Enter Content</h3>
        <textarea class="new-content form-control" name="newEntry" id="newEntry" rows="10" placeholder="Write 'Content'"></textarea>
        <button type="submit">Create</button>
    </div>
{%endblock%}